* {
    margin: 0;
    padding: 0;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.header__logo {
    padding: 10px;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    padding: 20px;
    list-style: none;
    
}

.header__list a {
    text-decoration: none;
    color: #ffffff;
}

.header__list a:hover {
    color: rgb(107, 107, 107);
}

.header__menu_button {
    background-color: #000000;
    border-radius: 60px;
    padding: 8px;
    margin: 6px;
    width: 80px;
    height: 20px;
    text-align: center;
}

.header__search {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid lightgray;
}

.banner_home a img {
    width: 100%;
}